.container {
  text-align: center;
}

.h1 {
  color: black;
  text-align: center;
}

/* width and height = 4 blocks across and 3 blocks tall (each png is 100x100)*/
.grid {
  width: 400px;
  height: 300px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: 450px;
}

.github,
.linkedin {
  text-decoration: none;
}
